<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= @title || "ServiceEntrance" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/svg_defs' %>
  <div id="wrap">
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <div class="container">

      <%= render 'layouts/messages' %>

      <%= yield %>

      <!-- <div class="row"> -->
      <!--   <div class="col&#45;sm&#45;6 col&#45;sm&#45;offset&#45;3 text&#45;center"> -->
      <!--   </div> -->
      <!-- </div> -->
      <!--  -->
      <!-- <div class="row"> -->
      <!--   <div class="col&#45;sm&#45;12"> -->
      <!--   </div> -->
      <!-- </div> -->
      <!--  -->

    </div>
  </div>

  <%#= render 'layouts/footer' %>

</body>
</html>
